[submodule "sqllogictest"]
	path = test/sqllogictest/sqlite
	url = https://github.com/MaterializeInc/sqllogictest.git
[submodule "ir-tools"]
	path = src/ir-tools
	url = git@github.com:aalexandrov/ir-tools.git
	branch = main
